.wallets {
  width: 320px;
  margin: 0 auto;
  background-color: #f8f8f8;
}
.wallets__wrapper {
  display: flex;
  flex-direction: column;
}
.wallets__title {
  font-size: 24px;
  align-self: center;
}
.wallets__list {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  padding: 0;
  list-style: none;
}
.wallets__item {
  position: relative;
  border: 1px solid #ab9d8c;
}
.wallet__title {
  padding: 0;
  margin: 0;
  margin: 20px 0;
  margin-left: 10px;
  font-weight: normal;
}
.wallets__item .wallet__title::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  background: url(../img/statistics.svg) no-repeat;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 14px;
  z-index: 10;
}
.wallet__balance {
  margin: 0;
  padding: 0;
}
.wallet__mon {
  display: inline-block;
  margin-left: 45px;
  margin-bottom: 10px;
}
.wallets__item .wallet__mon::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  background: url(../img/litecoin.svg) no-repeat;
  width: 30px;
  height: 30px;
  top: 65px;
  left: 10px;
  z-index: 10;
}
.wallet__small-mon {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  font-size: 16px;
}
.wallet__small-mon::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  background: url(../img/coin.svg) no-repeat;
  width: 15px;
  height: 15px;
  top: 109px;
  left: 12px;
  z-index: 10;
}
.wallet__button {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.wallet__but {
  margin-right: 40px;
  cursor: pointer;
}
.wallet__rec::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  background: url(../img/up-arrow.svg) no-repeat;
  width: 18px;
  height: 18px;
  z-index: 10;
  bottom: 5px;
  right: 93px;
  transform: rotate(180deg);
}
.wallet__send::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  background: url(../img/up-arrow.svg) no-repeat;
  width: 18px;
  height: 18px;
  z-index: 10;
  bottom: 5px;
  right: 20px;
}
.wallets__list-sm {
  margin-top: 30px;
  margin-bottom: 50px;
}
.slider__toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}
.slider__toggle li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 10px;
  list-style: none;
}
.slider__toggle li button {
  padding: 0;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  background-color: transparent;
  border: transparent;
  outline: none;
}
.slider__toggle li.slick-active button {
  border: 1px solid orange;
  border-radius: 15px;
}
.wallets__list:first-of-type .slider__toggle {
  display: none !important;
}
@media (min-width: 768px) {
  .wallets {
    width: 360px;
    margin: 0;
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .wallets {
    width: 400px;
    margin: 0;
    align-self: flex-start;
  }
}
@media (min-width: 1440px) {
  .wallets {
    width: 400px;
    margin: 30px;
    align-self: flex-start;
  }
}
